
html, body{
	height: 100%;
}
html{
	top: 0;
	width: 100%;
	background-repeat: repeat;  
}

body{
	top: 0;
	margin: 0;
}


#sidebar{
	position: absolute;
	background-color: #272A32;
	width: 3.5em;
	height: 100%;
}

#wrapper{
	top: 5em;
	margin: 0 ;	
	width: 85%;
	left: 100px;
	position: relative;
	overflow: hidden;
}

#welcome{
	position: relative;
	margin-top: 0;
	font-size: 5em;
	color: pink;
	top: 0;
}

#top-title{
	position: absolute;
	display: inline-block;
	width: 0;
	overflow: hidden;
}

#top-title h2{
	padding-bottom: 0px;
	font-size: 9em;
	overflow: hidden;
	display: inline-block;

}

@media (max-width: 768px){
	#top-title h2{
		font-size: 5em;
		height: 2em;
	}

}

/* ITEM PICKER ----------------------------------------------------------*/

#item-picker{
	position: relative;
	display: inline-block; 
	width: 100%;   
	top: 1.3em;
	height: 16em;  
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

#item-picker::-webkit-scrollbar { 
    display: none; 
}

.item{
	height: 10em;
	width: 10em;
	border-radius: 5em;
	display: inline-block;
	margin: 3em 5em 0 0;
	text-align: center;
	position: relative;
	box-shadow: 1px 1px 3px #888888;
	
}

.item-text{
	top: 6em;
	font-size: 5em;
	color: white;
	margin: 0.4em auto;
}

.item-link{
	z-index: 2;
	position: absolute;
	display: block;
	height: 10em;
	width: 10em;
}

.item-name {
	padding-top: 0.3em;
	margin-top: 0;
}

/* iPhone specific------------------------------------------------------------------*/

@media (max-width: 480px){

	#wrapper{
		top: 5em;
		margin: 0;
		width: 91.2%;
		left: 2em;
		position: relative;
		overflow: hidden;
	}
	#sidebar{
		width: 1em;
	}
	.item {
		height: 7em;
		width: 7em;
		border-radius: 3.5em;
		background: indianred;
		display: inline-block;
		margin: 2em 2em 0 0;
		text-align: center;
		position: relative;
	}
	.item-link{
	z-index: 2;
		position: absolute;
		display: block;
		height: 7em;
		width: 7em;
	}
	.item-text{
		top: 6em;
		font-size: 3.7em;
		margin: 0.35em auto;
	}
	.item-name{
		font-size: 1.5em;
	}
	#top-title h2 {
		font-size: 5em;
		height: 1.3em;
	}
	
	#footer{
		left: -1em;
	}

	#search input{
		border: 1px solid #536C6D; 
		box-shadow: none;
	}
}


/* Button colours! -------------------------------------------------------------*/

.item.cannabis{
	background: #8CCB00;
}

.item.cocaine{
	background: #FA9915;
}

.item.mdma{
	background: #00A1CB;
}

.item.lsd{
	background: indianred;
}
/* Item specific h2 colours ----------------------------------------------------*/

#info.cannabis h2{
	color: #8CCB00;
}

#info.cocaine h2{
	color: #FA9915;
}

#info.mdma h2{
	color: #00A1CB;
}

#info.lsd h2{
	color: indianred;
}

/* INFORMATION   ----------------------------------------------------------*/

#info{
	margin-top: 3em;
}

#info object{
	width: 100%;
	overflow: auto;
	height: auto;
}
/* SEARCH CLASSES----------------------------------------------*/
.no-display{
	display: none;
}
.force-display{
	display: inline-block;
}

#search{
	position: relative;

}

#search.visible-xs{
	top: 2em;
}

#search i{
	right: 2em;
}

#search input{
	position: relative;
	box-shadow: 0 0 4px #536C6D inset;
	border-radius: 1em;
	padding-left: 8px;
	height: 2em;	
}
input {
border: 0;
}
input:focus {
  border: 0;
    outline:none;
}

.tag{
	display: none;
}


/* Side bar --------------------------------------*/

#sidebar{
	text-align: center;
	position: fixed;
}

#sidebar h5{
	color: white;
	font-size: 1.5em;
}

#item-sidebar-icons{
	position: relative;
	top: 1em;
}

/* Footer -----------------------------------------*/

#footer{
	left: 20px;
	height: 2em;
	text-align: center;
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: 3em;
    top: 13em;

}

#foot-separator{
	width: 70%;
	display: inline-block;
	border: 1px solid pink;
	border-width: 1px 0 0 0; 
}

#footer ul{
	padding: 0;
}

#footer ul li{
	right: 10px;
	display: inline-block;
	padding: 1em 2em 1em 2em;
	text-decoration: none;
}

/* Fonts ----------------------------------------------*/

span.icon { 
  font-family: 'Glyphicons Halflings'; 
}


